.form-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-title{
    font-size: 3rem;
    color: rgb(110, 110, 110);
}

.form-inputs{
    width: 100%;
    padding: 1rem 0;
}

.form-label{
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

.form-control{
    width: 100%;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.button{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    cursor: pointer;
}

.button:hover{
    opacity: 0.8;
}

.text-danger{
    color: red;
}

.link-login{
    display: block;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    cursor: pointer;
}